body{
    background-image: url('/background.jpg');
    background-size: contain;
}

.navigation ul{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    list-style: none;
    padding-top: 20px;
    position: sticky;
    
}
.navigation li{
    color: white;
}
.navigation a{
    text-decoration: none;
}
.navigation a:hover{
    
    justify-content: space-evenly;
    flex-flow: row nowrap;

    text-align: center;
    list-style: none;
}

.navigation a:hover li{
    color: black;
    
}
.heading{
    text-align: center;
    margin-top: 20%;
    color: whitesmoke;
}
.heading:hover{
    color: black;

}
.planning{
    background-color: white;
    text-align: left;
    padding-top: 100px;
    margin-top: 400px;
   
}
.phase1{
    display: flex;
    text-align: center;
    
    float: center;
    justify-content:center;  
      
}
.text1{
    background-color: lightgray;
    padding: 2%;
    border-right: 5px solid;
    border-color: white;
}
.phase2{
    display: flex;
    margin-left: 190px;
    padding-top: 10px;
    
     
}
.text2{
    background-color: white;
    padding: 2%;
    border-left: 5px solid;
    border-color: white;
    color: rgb(194, 193, 193);
}
.line{
    height: 1px;
    width: 220px ;
    border: 0;
    background-color: black;
}

.title{
    text-align: center;
}

.awards{
    display: flex;
}
.line2{
    height: 1px;
    background-color: black;
    margin-right: 200px;
}
.line1{
    height: 1px;
    background-color: black;
    margin-left: 200px;
}
.title{
    margin-top: 0px;
}
.icons{
   
    justify-content: space-around;
}

.icons img{
    margin-left: 183px;
    opacity: 0.33;
    cursor: pointer;
}
.line3{
    background-color: black;
    height: 1px;

}
.icons2 img{
    margin-left: 294px;
    opacity: 0.33;
    cursor: pointer;
}
.place1{
    display: flex;
    align-items: center;
    background-color: rgb(186, 156, 186);
}
.line4{
    background-color: white;
    height: 1px;
}
.button a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.phase3{
    color: white;
    margin-left: 400px;
}
.img3{
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: -68px;
}






.place2{
    display: flex;
    align-items: center;
    background-color: white;
    padding-bottom: 100px;
}
.line4{
    background-color: white;
    height: 1px;
}
.button1 a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    
}
.phase4{
    color: white;
    margin-left: 250px;
}
.img4{
    
    margin-top: -100px;
}
.button1{
    margin-top: 70px;
    margin-left: -55px;
}
section{
    background-image: url("/img5.jpeg");    
    background-size: cover;
    padding-bottom: 30px;
}
header{
    text-align: center;
    padding-top: 10px;
    
}
.names{
    display: flex;
    justify-content: space-evenly;
}
.name1{
    border-right: 2px solid black;
    padding-right: 50px;
    text-align: center;
}
.name2{
    border-right: 2px solid black;
    text-align: center;
    padding-right: 50px;
}
.name3{
    text-align: center; 
}
.button2 a{
    text-decoration: none;
    color: white;
    background-color: rgb(244, 196, 204); 
}
.mywork{
    background-color: rgb(238,229,231);
    padding-top: 10px;
}
.mywork h1{
    margin-left: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.photos{
    display: flex;
    margin-left: 300px;
}
.photo2{
    padding-left: 1%;
}
.photo3{
    margin-top: 250px;
    padding-top: 50px;
}
.photo1{
    margin-left: 300px;
}
.photo01{
    display: flex;
    margin-left: 100px;
}
.phase5{
    margin-left: 100px;
    color: rgb(194,140,149);

}
.line5{
    border: 1px solid black;
}

.card{
    background-image: url(/img9.jpeg);
    background-size: cover;
    margin-top: -4px;
}
.phase6{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5%;
    padding-left: 190px;
}
.photo4{
    padding-top: 16 0px;
    margin-left: 100px;
}
.cardt{
    color: black;
    margin-top: 130px;
    margin-left: 50px;
}
.que{
    background-color: white;
    margin-top: -16px;
}
.he1{
    text-align: center;
}
.q{
    display: flex;
    justify-content: space-evenly;
}
.button3 a{
    background-color: rgb(244,196,204);
    text-decoration: none;
    color: white;
}
.button3{
    text-align: center;
}
.end{
    background-color: rgb(244,196,204);
    margin-top: -20px;
}
.end h2{
    text-align: center;
    padding-top: 100px;
}
.button4 a{
    background-color: rgb(194, 193, 193);
    text-decoration: none;
    color: white;
    
}
.button4{
    text-align: center   ;
}
.all{
    margin-left: 55px;
    padding-top: 100px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}

.list{
    border-right: 1px solid white;
    padding-right: 50px;
}

.list3{
    border-left: 1px solid white;
    padding-left: 50px;
    text-align: center;
}
.footer{
    background-color: rgb(88,155,255);
    color: white;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-top: -5px;
}
